.App {
  text-align: right;
}

.App-header {
  background-color: #1DA1F2;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


